%h1 Orgs

= link_to 'Add my organization!', new_org_path

%table
  %tr
    = sortable_table_header :name => "Name",  :sort => "name"
    = sortable_table_header :name => "Location",  :sort => "city"
    = sortable_table_header :name => "Date added",  :sort => "created_at"

  - @orgs.each do |org|
    %tr
      %td= link_to org.name, org
      %td= org.location
      %td= org.created_at

%br
