%p
  %b Name:
  = @org.name
%p
  %b Phone:
  = @org.phone
%p
  %b Street:
  = @org.street
%p
  %b City:
  = @org.city
%p
  %b State:
  = @org.state
%p
  %b Zip:
  = @org.zip
%p
  %b Country:
  = @org.country
%p
  %b Mission:
  = @org.mission
- if @org.contact_person
  %p
    %b Contact person:
    = link_to @org.contact_person.display_name, @org.contact_person
%p
  %b Founding year:
  = @org.founding_year
%p
  %b Gigs:
  %ul
  - @org.gigs.each do |gig|
    %li
      = link_to gig.title, gig
%p
  %b Members:
  %ul
  - @org.members.each do |member|
    %li
      = link_to member.display_name, member

= link_to 'Edit', edit_org_path(@org)
\|
= link_to 'Destroy', @org, :confirm => 'Are you sure?', :method => :delete
\|
= link_to 'Back', orgs_path
