= semantic_form_for @gig do |f|
  -if @gig.errors.any?
    #error_explanation
      %h2= "#{pluralize(@gig.errors.count, "error")} prohibited this gig from being saved:"
      %ul
        - @gig.errors.full_messages.each do |msg|
          %li= msg

  = f.inputs :title
  
  = f.inputs do
    - unless current_user.memberships.empty?
      = f.input :org, :include_blank => "other..."
    = f.input :company, :label => "Organization Name"

    :javascript
      function hideCompanyIfOrgSelected() {
        if ($('#gig_org_id').val() === '') {
          $('#gig_company_input').show();
        } else {
          $('#gig_company_input').hide().val('');
        }
      }
    
      $(function(){
        hideCompanyIfOrgSelected();
        $('#gig_org_id').change(function(e){ hideCompanyIfOrgSelected(); });
      });
      
  = f.inputs :name => "Contact Info" do
    = f.input :contact_first_name, :label => "First Name"
    = f.input :contact_last_name, :label => "Last Name"
    = f.input :contact_email, :label => "Email"
  
  = f.inputs :name => "Auditions" do
    = f.semantic_fields_for :auditions do |audition_form|
      = render :partial => 'gigs/audition_fields', :locals => {:f => audition_form}
    = link_to_add_fields "Add Audition", f, :auditions
  
  = f.inputs do
    = f.input :post_at, :label => "Post on", :as => :date_picker
    = f.input :expire_at, :label => "Expire on", :as => :date_picker

  :javascript
    $(function(){
      var dates = $( "#gig_post_at, #gig_expire_at" ).datepicker({
        onSelect: function( selectedDate ) {
          var option = this.id == "gig_post_at" ? "minDate" : "maxDate",
            instance = $( this ).data( "datepicker" );
          date = $.datepicker.parseDate(
            instance.settings.dateFormat ||
            $.datepicker._defaults.dateFormat,
            selectedDate, instance.settings
          );
          dates.not( this ).datepicker( "option", option, date );
        }
      });
    });
  
  = f.inputs :description
  
  = f.buttons do
    - if @gig.new_record?
      = f.commit_button "Post it!"
    - else
      = f.commit_button "Update"
    = f.commit_button "Save Draft" unless @gig.is_published?
