- content_for :additional_head_info do
  = auto_discovery_link_tag

%h1 Gigs

= link_to 'Add a gig!', new_gig_path

%table
  %tr
    = sortable_table_header :name => "Title",  :sort => "title"
    = sortable_table_header :name => "Org",  :sort => "org"
    = sortable_table_header :name => "Location",  :sort => "city"
    = sortable_table_header :name => "Posted",  :sort => "created_at"
    = sortable_table_header :name => "Expires",  :sort => "expire_at"

  - @gigs.each do |gig|
    %tr
      %td= link_to gig.title, gig
      %td= link_to_org(gig)
      %td= gig.location
      %td= gig.post_at
      %td= gig.expire_at

%br
