%h1
  = @gig.title
%div
  .org_name
    = link_to_org(@gig)
  .location
    = @gig.location
%div
  %h2 Description
  %p
    = @gig.description
%div
  %h2 Auditions
  %ul
    - @gig.auditions.each do |audition|
      %li.audition
        = audition.place
        %br
        = audition.location
        - if audition.start_at
          %br
          = audition.start_at.to_s :date
          %br
          = audition.start_at.to_s :time
          - if audition.end_at
            \-
            = audition.end_at.to_s :time
%div
  %h2 Contact Info
  = @gig.contact_first_name
  = @gig.contact_last_name
  %br
  = mail_to @gig.contact_email
%div
  %p
    %b Posted:
    = @gig.post_at
  %p
    %b Expires:
    = @gig.expire_at
  %p
    %b View count:
    = @gig.view_count

- if can? :edit, @gig
  = link_to 'Edit', edit_gig_path(@gig)
  \|
- if can? :destroy, @gig
  = link_to 'Destroy', @gig, :confirm => 'Are you sure?', :method => :delete
  \|
= link_to 'Back', gigs_path
