%p
  %b Title:
  = @gig.title
%p
  %b Organization:
  = link_to_org(@gig)
%p
  %b Description:
  = @gig.description
%p
  %b Contact first name:
  = @gig.contact_first_name
%p
  %b Contact last name:
  = @gig.contact_last_name
%p
  %b Contact email:
  = mail_to @gig.contact_email
%p
  %b Creator:
  = link_to @gig.creator.display_name, @gig.creator if @gig.creator
%p
  %b City:
  = @gig.city
%p
  %b State:
  = @gig.state
%p
  %b Country:
  = @gig.country
%p
  %b Post date:
  = @gig.post_at
%p
  %b Expire date:
  = @gig.expire_at
%p
  %b Enabled:
  = @gig.enabled
%p
  %b View count:
  = @gig.view_count

- if can? :edit, @gig
  = link_to 'Edit', edit_gig_path(@gig)
  \|
- if can? :destroy, @gig
  = link_to 'Destroy', @gig, :confirm => 'Are you sure?', :method => :delete
  \|
= link_to 'Back', gigs_path
